.blue-footer {
  background-color: #384da0;
  font-size: 10px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.footerImage {
  margin-top: -25px;
  margin-bottom: 5px;
}

@media screen and (max-width: 850px) {
    .dashSpace {
        visibility: hidden;
    }
} 
