<div class="col-md-12">
  <div ng-include="'components/navbar/navbar.html'"></div>
</div>

<div class="col-md-12">
  <div class="col-md-9">
    Search By:
    <select ng-model="searchBy"
      ng-options="select.selectTitle for select in searchableBy"
      ng-change="criteria = ''">
    </select> 
    <input type="text" ng-model="criteria" typeahead="select for select in searchBy.typeAheadData | filter:$viewValue" placeholder="Enter Search Criteria">

    <button ng-click="getrefGeneData(searchBy.field, criteria)">search</button>

    <p><strong>Page:</strong> {{tableParams.page()}}</p>
    <p><strong>Count per page:</strong> {{tableParams.count()}}</p>
    
    <table ng-table="tableParams" class="table">
    <tr ng-repeat="record in $data">
      <td data-title="'Chromosome'">{{record.chrom}}</td>
      <td data-title="'Name'">{{record.name}}</td>
      <td data-title="'txStart'">{{record.txStart}}</td>
      <td data-title="'txEnd'">{{record.txEnd}}</td>
    </tr>
    </table>

  </div>
  <div class="col-md-3">
    <div ng-include="'components/sidebar/sidebar.html'"></div>
  </div>
</div>

<div class="col-md-12">
  <div ng-include="'components/footer/footer.html'"></div>
</div>  

