.dropdown-menu {
  max-height: 185px;
  overflow-y: auto;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}
th {
    background-color: #384da0;
    color: white;
}
tr:nth-of-type(odd) {
  background-color:#E3E3E3;
}
